<div class="container mt-5">
    <div id="inputCard" class="card url-card">
        <div class="card-body">
            <h5 class="card-title">Enter Your URL</h5>
            <form id="shortenForm" class="mb-4" method="post" action="/">
                <div class="mb-3">
                    <input name="targetUrl" type="url" class="form-control" id="targetUrl" required
                        placeholder="https://example.com" autofocus>
                </div>
                <button id="shortenBtn" type="submit" class="btn btn-primary w-100">
                    <span class="spinner-border spinner-border-sm" role="status" style="display: none;"></span>
                    <span class="btn-text">Shorten</span>
                </button>
            </form>

            <div class="alert alert-danger" id="errorAlert"></div>
        </div>
    </div>

    <div id="resultCard" class="card mt-4 url-card" style="display: none;">
        <div class="card-body">
            <h5 class="card-title">Your Shortened URL</h5>
            <div class="input-group mb-3">
                <input type="text" id="shortUrl" class="form-control" readonly>
                <button class="btn btn-sm btn-outline-success" type="button" id="copyBtn">Copy</button>
            </div>
            <a href="/" class="btn btn-outline-primary w-100">One More</a>
        </div>
    </div>
</div>

<div class="container my-3 ">
    <div class="card url-card">
        <div class="card-body">
            {{template "partials/limitations" .}}
        </div>
    </div>
</div>