name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Set RELEASE_ID env
        run: |
          START_DATE="2024-12-07T00:00:00Z"
          echo "RELEASE_ID=$(( ($(date -u +%s) - $(date -u -d "${START_DATE}" +%s)) / 86400 ))" >> "${GITHUB_ENV}"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean

  deploy:
    needs: goreleaser
    runs-on: ubuntu-latest
    environment: production
    concurrency: production
    env:
      DEPLOY_WEBHOOK_URL: ${{ secrets.DEPLOY_WEBHOOK_URL }}
    steps:
      - name: Trigger Deploy webhook
        if: ${{ env.DEPLOY_WEBHOOK_URL != '' }}
        run: |
          curl -X POST "${DEPLOY_WEBHOOK_URL}" \
          --fail \
          --silent \
          --show-error \
          --max-time 10 \
          --retry 3 \
          --retry-delay 5 \
          || exit 1
